# Environment files
.env

# Virtual environments
myenv/
venv/

# Build and distribution directories
/build/
/dist/

# PyInstaller files
*.spec

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Logs
*.log
